body{
	margin:0;
	font-family: 'Share Tech', sans-serif;
	font-size: 28px;
	line-height: 30px;
}
header{
	background-image: url("https://image.freepik.com/free-vector/metal-texture-background_46250-146.jpg");
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;


}
h2{
	font-family: 'Share Tech', sans-serif;
	font-size: 35px;
	color: #797B8B;
	margin: 40px 0px 10px;
  	text-decoration: underline overline wavy black;	
}
header h1{
	color: #000000;
	font-family: 'Share Tech', sans-serif;
	font-size: 75px;
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid black;
}



main{
	max-width: 800px; 
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}
a{
	color: #000000;

}
a:hover{
	color: white;
	background-color:#797B8B;
}
footer{
	background-color: #797B8B;
	text-align: center;
	color: white;

}
footer p{
	margin: 0;
}
footer a{
	color:white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
	text-decoration: underline overline dotted black;
}